#server-status {
  position: absolute;
  transition: all 0.1s ease-in-out;
  top: 0;
  right: 0;
  margin: 4px 4px;
  height: fit-content;

  display: flex;
  align-items: center;
  gap: 2px;

  mix-blend-mode: lighten;

  & > * {
    margin: 0;
  }

  &.server-offline {
    opacity: 0.6;
    color: var(--danger);
    cursor: pointer;
  }

  &.server-syncing {
    opacity: 0.6;
    color: var(--info);
    cursor: wait;

    & > #server-status-icon {
      animation: rotate 3s ease infinite;
    }
  }

  &.server-online {
    color: var(--dark-tertiary);
    opacity: 0.3;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
