#server-status {
  mix-blend-mode: lighten;
  & > * {
    margin: 0;
  }

  &.server-offline {
    color: var(--danger);
    cursor: pointer;
  }

  &.server-syncing {
    color: var(--info);
    cursor: wait;

    & > #server-status-icon {
      animation: rotate 3s ease infinite;
    }
  }

  &.server-online {
    color: var(--success);
    cursor: pointer;
  }

  &:hover {
    background-color: var(--light-primary);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
