.sidebar {
  position: fixed;
  width: fit-content;
  height: 100%;
  display: flex;
  z-index: 1000;
  pointer-events: none; /* Allow clicking through the transparent parts of the sidebar */

  & > * {
    pointer-events: auto;
  }

  .sidebar-content {
    color: var(--light-primary);
    background-color: var(--dark-primary);
    box-shadow: 0px 0px 4px black;

    top: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    transition: 0.1s linear;

    margin-left: calc(-1 * var(--sidebar-width)); /* The sidebar is hidden by default */
  
    &.visible {
      margin-left: 0;
    }

    .tab-panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0px 8px;
      gap: 8px;

      &[hidden] {
        display: none !important;
      }

      &-row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 4px;
        margin: 8px 8px 0px 8px;
      }

      & h2 {
        margin-top: 16px;
        margin-bottom: 0px;
        text-align: center;
      }
    }
  }

  .square-button-container {
    display: flex;
    justify-content: space-between;

    & > * {
      aspect-ratio: 1 / 1;
      justify-content: center;
      align-items: center;
    }

    .draw-button {
      transition: all 0.1s ease;

      &:hover {
        color: var(--draw-color);
        transform: scale(1.1);
        text-shadow: 0 0 2px var(--dark-tertiary);
      }

      &.selected {
        color: var(--draw-color);
        background-color: var(--dark-secondary);
        text-shadow: 0 0 1px white;
      }
    }
  }

  .side-menu-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    & > li {
      border: solid 1px var(--light-secondary);
      background-color: var(--dark-primary);
      margin-bottom: 8px;
      display: flex;
      overflow: hidden;
      cursor: pointer;
      align-items: center;

      &.selected {
        background-color: var(--dark-secondary);
        box-shadow: 0px -1px 1px var(--light-secondary) inset;
      }

      & > i {
        font-size: 32px;
        margin: 0;
        padding: 4px;
      }
    }
  }

  .token-name-input {
    background: transparent;
    border: 1px solid transparent;
    color: inherit;
    font-family: inherit;
    cursor: text;
    padding: 2px 4px;

    &:focus {
      background: white;
      color: black;
      border-color: var(--info);
      outline: none;
      cursor: text;
    }
  }
}

.sidebar-navigation {
  display: grid;
  grid-auto-columns: auto;
  height: fit-content;
  background-color: var(--dark-tertiary);

  & > button {
    margin: 0;
    border-radius: 0;

    &.selected {
      background-color: var(--dark-tertiary);
    }
  }

  .tab-close-button {
    height: 50px;
  }

  & .tab-button {
    height: 100px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
