@import url('sidebar.css');
@import url('whiteboard.css');
@import url('serverstatus.css');
@import url('usercursors.css');

:root {
  /* Overridden in code. */
  --user-color: #ff0000;
  --draw-color: #00ff00;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;

  --sidebar-width: 250px;

  --dark-primary: #252525;
  --dark-secondary: #353535;
  --dark-tertiary: #454545;
  --light-primary: #a0a0a0;
  --light-secondary: #808080;

  --danger: #ce212f;
  --info: #2867c5;
}

hr {
  margin: 16px 20px;
  border-color: var(--light-primary);
}

/* Scrollbar */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--light-primary) var(--dark-tertiary); /* thumb track */
}

.smooth-transform {
    transition: transform 0.1s linear;
    will-change: transform;
}

.smooth-transform.selected {
  /* When the object is selected, snap it instantly */
  transition: none !important;
}
