.toolbar {
    background-color: color-mix(in srgb, black 20%, transparent);
    height: var(--toolbar-btn-size);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: nowrap;
    gap: calc(var(--toolbar-btn-size) * 2);
    padding: var(--toolbar-padding) 0;

    @media screen and (max-width: var(--media-sm)) {
        justify-content: space-between;
        --toolbar-btn-size: 3rem;
        gap: calc(var(--toolbar-btn-size) / 2);
    }

    .toolbar-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
    }
}

.toolbar-menu {
    position: absolute;
    bottom: calc(var(--toolbar-btn-size) + (var(--toolbar-padding)) *2);
    left: 0;
    right: 0;
    white-space: nowrap;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--toolbar-padding) 0;
    border-radius: 4px;
    z-index: 500;

    /* background-color: color-mix(in srgb, var(--dark-primary) 20%, transparent); */
    color: white;
    font-size: 1rem;

    & > .toolbar-menu-content {
        background-color: color-mix(in srgb, black 20%, transparent);
        padding: var(--toolbar-padding);
        border-radius: var(--toolbar-btn-size);
        width: fit-content;
        display: flex;
        align-items: center;
        gap: calc(var(--toolbar-btn-size) / 4);

        & > .button-row  {
            display: flex;
            gap: 0.5rem;
        }
    }

    & > * > h2 {
        margin: 0;
    }
}