#user-cursors {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;

    .cursor {
        margin-left: -5px; /* FontAwesome's cursor icon has a slight offset */
        transition: transform 0.1s linear;
        will-change: transform;
        position: absolute;
    }
}

