#whiteboard-container {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

#whiteboard {
  display: block;
}

#whiteboard-objects-layer > * {
  transition: inherit filter 0.1s ease;
  transform-box: fill-box;
  transform-origin: center center;
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));

  cursor: pointer;
  outline: none;
}

line {
    stroke-linecap: round;
}

#whiteboard-objects-layer > *:hover {
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
}

#whiteboard-objects-layer > *:focus,
#whiteboard-objects-layer > .selected {
  filter: drop-shadow(0px 0px 4px var(--user-color));
  outline: none;
}

.whiteboard-resize {
  pointer-events: none;
}

.resize-marking {
  filter: drop-shadow(0px 0px 1px #4da3ff);
  stroke-width: 1px;
  stroke: #4da3ff;
  pointer-events: none;
}

.resize-handle,
#rotate-handle {
  pointer-events: all;
  cursor: grab;
}

#whiteboard-drawing-layer {
  pointer-events: auto;
  cursor: none; /* A custom marker is used when drawing */
}

/* 
    Important note:
    We want transformation to happen relative to the center of the object.
    This simplifies logic, making it so we don't have to recalculate the absolute center.
    Every time rotation is changed, CSS will handle the hard part for us.
*/
#whiteboard-objects-layer > *,
.whiteboard-resize > * {
  transform-origin: center center;
  transform-box: fill-box;
}