#whiteboard-container {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  #whiteboard {
    display: block;

    #whiteboard-objects-layer {
      & > * {
        transition: filter 0.1s ease;
        transform-origin: center center;
        transform-box: fill-box;
        transform-origin: center center;
        filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));

        cursor: pointer;
        outline: none;

        &:hover {
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
        }

        &:focus,
        &.selected {
          filter: drop-shadow(0px 0px 4px var(--user-color));
          outline: none;
        }
      }
    }

    #whiteboard-drawing-layer {
      pointer-events: auto;
      cursor: none; /* A custom marker is used when drawing */
    }

    .whiteboard-resize {
      pointer-events: none;

      & > * {
        transform-origin: center center;
        transform-box: fill-box;
      }

      .resize-marking {
        filter: drop-shadow(0px 0px 1px #4da3ff);
        stroke-width: 1px;
        stroke: #4da3ff;
        pointer-events: none;
      }

      .resize-handle,
      #rotate-handle {
        pointer-events: all;
        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }
    }
  }
}


/* Ruler layer */
#ruler-layer {
  pointer-events: none;
}

#ruler-line{
  stroke: var(--user-color);
  stroke-width: 4;
  stroke-linecap: round;
}

#ruler-length-text {
  fill: var(--user-color);
  font-weight: bold;
  paint-order: stroke;
  stroke: white;
  stroke-width: 3px;
}