#whiteboard-container {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  #whiteboard {
    display: block;
    pointer-events: auto;
    touch-action: none;

    #whiteboard-objects-layer {
      & > * {
        transition: filter 0.1s ease;
        transform-origin: center center;
        transform-box: fill-box;
        transform-origin: center center;
        filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));

        cursor: pointer;
        outline: none;

        &:hover {
          filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6));
        }

        &:focus,
        &.selected {
          filter: drop-shadow(0px 0px 4px var(--user-color));
          outline: none;
        }
      }
    }

    #whiteboard-drawing-layer {
      pointer-events: auto;
      cursor: none; /* A custom marker is used when drawing */
    }

    #moveable {
      pointer-events: none;

      .moveable-control-box {
        z-index: 1000 !important;
        pointer-events: auto !important;
      }
    }
  }
}
